a.feed:before {
  content:url(/static/img/rss_feed.png);
}

.news-item {
  padding-top: 10px;
  padding-bottom: 15px;
}

.section {
  padding-top: 10px;
  padding-bottom: 15px;
}

div#sidebar dd {
  padding: 6px;
}

div#footer {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #ccc;
}

.stats-number strong {
  font-size: 2em;
}

.stats-number em {
  font-style: normal;
  font-size: 1.1em;
}

.navbar-inner {
  border-radius: 0px;
}

.centered {
  text-align: center;
}

.videobox-inner {
  padding-bottom: 22px;
}